# Configuration overrides for QUniBoot linux kernel 
#
# This file contains overrides to the kernel build configuration
# for QUniBoot.  The overrides are relative to the stock bb.org
# defconfig that is part of the openbeagle.org beagleboard linux
# tree. 

# Enable fully preemptible kernel
CONFIG_PREEMPT_RT=y

# Disable suspend support and initialization of the CM3 co-processor
CONFIG_SUSPEND=n
CONFIG_WKUP_M3_RPROC=n
CONFIG_WKUP_M3_IPC=n
CONFIG_AMX3_PM=n

# Enable UIO PRUSS driver
CONFIG_UIO=y
CONFIG_UIO_PRUSS=y
CONFIG_UIO_PDRV_GENIRQ=y

# Enable TI PRUSS
CONFIG_TI_PRUSS=y
CONFIG_TI_PRUSS_INTC=y

# Disable PRU remoteproc (conflicts with UIO PRUSS)
CONFIG_PRU_REMOTEPROC=n

# Use GZIP instead of XZ
CONFIG_KERNEL_GZIP=y
CONFIG_KERNEL_XZ=n

# Disable unneeded features to improve boot times
CONFIG_SECURITY_APPARMOR=n
CONFIG_SECURITY_YAMA=n
CONFIG_SECURITY_TOMOYO=n
CONFIG_EVM=n
CONFIG_IMA=n
CONFIG_RAID6_PQ=n
CONFIG_MD=n
CONFIG_QUOTA=n
CONFIG_FSCACHE=n
CONFIG_BTRFS_FS=n
CONFIG_NFS_FS=n
CONFIG_ZSWAP=n
CONFIG_ZBUD=n
CONFIG_W1=n
CONFIG_UBIFS_FS=n
CONFIG_JFFS2_FS=n
CONFIG_KPROBES=n
CONFIG_OPTPROBES=n
CONFIG_KPROBE_EVENTS=n
CONFIG_SECURITY_SELINUX=n
CONFIG_NETLABEL=n
CONFIG_PPS=n
CONFIG_MPTCP=n
CONFIG_UDP_LITE=n
CONFIG_WLAN=n
CONFIG_WIRELESS=n
CONFIG_INTEGRITY=n
CONFIG_FS_VERITY=n
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_ASYMMETRIC_KEY_TYPE=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_PKCS7_MESSAGE_PARSER=n
CONFIG_FTRACE=n
CONFIG_DYNAMIC_FTRACE=n
CONFIG_FUNCTION_TRACER=n
CONFIG_FUNCTION_GRAPH_TRACER=n
CONFIG_UPROBE_EVENTS=n
CONFIG_BPF_EVENTS=n
CONFIG_TRACING=n
CONFIG_BPF=n
CONFIG_CGROUPS=n
CONFIG_NAMESPACES=n
CONFIG_HIBERNATION=n
CONFIG_SWAP=n
CONFIG_EFI=n
CONFIG_EFI_STUB=n
CONFIG_SCSI=n
CONFIG_ATA=n
CONFIG_BLK_DEV_INTEGRITY=n
CONFIG_BLK_DEV_BSG=n
CONFIG_BLK_DEV_BSGLIB=n
CONFIG_FONT_SUPPORT=n
CONFIG_FONTS=n
CONFIG_FRAMEBUFFER_CONSOLE=n
